Flask==0.10.1
Flask-Admin==1.0.8
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Jinja2==2.10.1
MarkupSafe==0.23
Pygments==2.6.1
SQLAlchemy==0.9.7
Sphinx==1.2.2
WTForms==2.0.1
Werkzeug==0.9.6
coverage==3.7.1
docutils==0.12
flake8==2.2.2
itsdangerous==0.24
nose==1.3.3
pep8==1.5.7
pyflakes==2.3.1
